body{
background-color:grey;
}
header{
  background-color:black;
  margin:0px;
  padding:0px;
  color:white;
 right:100%;
   left:100%;
  height:25px;
}
h1{
  color:white;
}
header a{

  color:white;
}
header a:hover{
  color:red;
}

body{ 
  background-image:url("backkk.png");
background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
background-attachment:fixed;
}