header{
  background-color:black;
  color:white;
  display:flex;

}
h1{
  padding:5px;
}
nav{
color:white;
}
nav li{
  display: inline-block;
list-style:none;  

}

nav li a{
    color:cyan;
  font-family:fantasy;
  padding:80px;
  margin:20px;
  font-size:30px;
}

nav li a:hover{
  color:Blue;
}

p{
  padding:100px;
  text-align: center;
  background-color:black;
  color:#cf9e17;
  border:10px;
  height:100;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

p a{
  color:red;
}
body{
  background-color:#8b8574;
  margin:0px;
}

footer{
text-align:center;
margin-top:19%;
  font-size:20px;
  padding:10px;
  background-color:black;
  color:white;
}

footer a{
  padding:10px;
  color:orange;
  font-size:20px;
  font-family:cursive;
}