header{
  position:fixed;
  top:0;
  width:100%;
  height:17%;
  margin-left:0px;
  color:white;
  display:flex;

}
h1{
  padding:25px;
  color:#ffffff;
}
nav{
color:white;
}
nav li{
display:inline-block;
  list-style:none;
top:20px;

}

nav li a{
    color:#f2f2f2;
  font-family:arial;
  padding:10px;
  margin:70px;
  font-size:30px;
    text-decoration:none;
  transition:all 1s ease 0s;

}
nav li a:hover{
color:#b2a4a4;

}


.img2{
  padding:5px;
  text-align: right;
  color:#000000;
  border:5px;
  height:100;
  font-family:sans-serif;
  position:relative;
  top:135px;
  margin:5px;
font-family:cursive;
}

.img2 a{
  color:red;
    text-decoration: none;
  transition:all 0.3s ease 0s;
}
.img2 a:hover{
 color:#001df5;
}
body{
  background-color:#8b8574;
  margin:0px;

}
body{ 
  background-image:url("Back.png");
background-position: center;
  background-repeat: no-repeat; 
  background-size: cover;
background-attachment:fixed;
}

footer{
text-align:center;
margin-top:18%;
  font-size:20px;
  padding:10px;
  background-color:black;
  width:100%;
  color:white;
    position:fixed;
top:430px;
  
}

footer a{
  padding:10px;
  color:orange;
  font-size:20px;
  font-family:cursive;

}


